.node-cmqcc-committee {

  .field-name-field-committee-chair {
    .profile-item {
      @include clearfix();
    }

    .group-left {
      width: 35%;
      float: left;
      padding-right: 1em;
    }

    .group-right {
      width: 65%;
      float: left;
    }
  }
}

#block-views-committee-members-block-members {
  margin-top: 2.5em;

  h2.block-title {
    color: $text-color;
    font-size: $font-size-h3;
    margin-top: 0;
    margin-bottom: 1em;
  }

  .views-row {
    @include clearfix();
    margin-bottom: 1em;
  }
  .group-left {
    width: 35%;
    float: left;
    padding-right: 1em;
  }

  .group-right {
    width: 65%;
    float: left;
  }
}