// Events listing page.
.view-id-events.view-display-id-page {
  .views-row {
    margin-bottom: 3.5em;
    @include clearfix();
  }

  .views-field-title {
    h3 {
      margin: 0 0 0 0;
    }
  }

  .views-field-field-event-date {
    color: $gray;
    font-weight: 600;
  }

  .views-field-field-event-location {
    margin-bottom: 1em;
  }
}

// Event node page.
.node-cmqcc-event {
  .field-name-body {
    margin-top: 2em;
  }
}