// News listing page.
.view-id-news.view-display-id-page {
  .views-row {
    margin-bottom: 3.5em;
    @include clearfix();
  }

  .views-field-field-news-image {
    float: left;
    margin: 0 1em 1em 0;
  }

  .views-field-title {
    h3 {
      margin: 0 0 0.25em 0;
    }
  }

  .views-field-created {
    color: $gray;
    margin-bottom: 1em;
    font-weight: 600;
  }
}

// News node page.
.node-cmqcc-news {
  .field-name-body {
    margin-top: 2em;
  }
}