// Content region styles.

.nav-tabs > li > a {
  font-weight: 700;
  background-color: $brand-danger;

  &,
  &:hover {
    color: #fff;
  }
}

h1,
.h1,
h1.page-header {
  background-color: $brand-primary;
  color: #fff;
  padding: 11px 28px;
  min-height: 50px;
}

h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  line-height: 1.2;
}

.btn {
  @include border-top-radius(20px);
  // @include border-right-radius(20px);
  @include border-bottom-radius(20px);
  // @include border-left-radius(20px);

  &:hover {
    background-color: $gray;
    border-color: $gray;
  }
}

.secondary-page-images,
h1.page-header {
  margin-left: -25px;
  margin-right: -20px;

  body.front & {
    display: none;
  }
}

h2,
.h2 {
  color: $brand-danger;
}

img {
  max-width: 100%;
  height: auto;
}

#skip-link {
  display: none;
}

// Text formats
.big-white {
  font-size: 32px;
  font-weight: 700;
  color: #fff;

  @media (max-width: $screen-sm-max) {
    font-size: 24px;
  }
}

.large-text {
  font-size: $font-size-large;
}

.caret-right {
  &:after {
    // @include cmqcc-icons;
    content: "i";
    vertical-align: middle;
    position: relative;
    top: -2px;
  }
}

.dark-link {
  color: $gray-darker;

  &:hover {
    color: $gray;
  }
}

.gray-text {
  color: $gray;
  margin-top: 0;

  h3 + & {
    margin-top: -10px;
  }
}

.addthis-sharing .addthis_toolbox {
  float: right;
}

body.cke_editable {
  a {
    &:hover {
      color: $gray;
    }
  }

  iframe {
    margin: 10px 0;
    height: 365px;

    @media (max-width: $screen-md-max) {
      height: 295px;
    }

    @media (max-width: $screen-sm-max) {
      height: 415px;
    }

    @media (max-width: $screen-xs-max) {
      height: 435px;
    }

    @media (max-width: 668px) {
      height: 389px;
    }

    @media (max-width: 569px) {
      height: 333px;
    }

    @media (max-width: 415px) {
      height: 245px;
    }

    @media (max-width: 569px) {
      height: 333px;
    }
  }
}

@mixin block-style {
  padding-bottom: 20px;

  &:before {
    padding-top: 20px;
    width: 100%;
    content: " ";
    border-top: 1px solid $gray-light;
  }

  &:first-child:before,
  #block-system-main + &:before {
    border-top: 0;
    padding-top: 20px;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    &:first-child {
      margin-top: 0;
    }
  }
  .contextual-links-wrapper + {
    h1,
    h2,
    h3,
    h4,
    h5 {
      margin-top: 0;
    }
  }
}
