.home-right-block,
.home-left-block {
  @include block-style;
  &:first-child:before,
  #block-system-main + &:before,
  .home-left-block + &:before {
    border-top: 0;
    padding-top: 0;
  }

  .home-left-block + &:before {
    padding-top: 20px;
  }
}

.home-right-block {
  padding-left: 40px;
  @media (max-width: $screen-sm-max) {
    padding-left: 20px;
  }
  @extend .col-md-5;
}

.home-left-block {
  @extend .col-md-7;
  padding-top: 0;
  border: 0;
  @media (max-width: $screen-sm-max) {
    padding-left: 20px;
    padding-left: 175px;
  }
}

#block-views-news-block-1,
#block-views-events-block-1,
#block-block-41 { // browser recommendation
  h2.block-title {
    color: $yellow;
    font-size: 26px;
    margin-bottom: 1em;
  }

  .views-row {
    padding-bottom: 1.5em;
    margin-bottom: 2em;
    border-bottom: 1px solid $gray-light;

    &.views-row-last {
      border: none;
      margin-bottom: 0;
    }
  }

  .views-field-title {
    h3 {
      margin: 0;
    }

    a {
      color: black;

      &:hover {
        color: $link-hover-color;
      }
    }
  }

  .views-field-field-event-date {
    color: $gray;
    font-weight: 600;
  }

  .views-field-field-event-location {
    margin-bottom: 1em;
  }

  .views-field-created {
    color: $gray;
    margin-bottom: 1em;
    font-weight: 600;
  }

  .view-footer  {
    text-align: right;

    a.btn {
      text-transform: uppercase;
    }
  }
}

#block-views-newsletters-block {
  position: relative;
  font-weight: 700;
  padding-left: 80px;
  @media (max-width: $screen-sm-max) {
    padding-left: 60px;
  }
  @media (max-width: $screen-xs-max) {
    padding-left: 50px;
  }

  overflow: hidden;

  &:before {
    left: -40px;
    position: relative;
    padding-right: 30px;
    box-sizing: content-box;
    width: 200%;

    @media (max-width: $screen-sm-max) {
      width: 100%;
    }
    @media (max-width: $screen-xs-max) {
      left: -50px;
      width: 200%;
    }
  }
  
  .view-header {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 38px;
    display: table;

    span {
      padding-left: 40px;
      @media (max-width: $screen-sm-max) {
        padding-left: 20px;
      }
      @media (max-width: $screen-xs-max) {
        padding-left: 10px;
      }
      display: table-cell;
      font-size: 40px;

      &:before {
        vertical-align: -40%;
      }
    }
  }

  h2,
  .view-content {
    margin: 0;
    padding-left: 5px;
    font-size: 18px;
  }
  h2 {
    margin-bottom: 1px;
    color: $gray-darker;
  }

  a {
    @extend .dark-link;
  }
}

.featured-work-home {
  padding-left: 0;
  padding-right: 0;
  h2.block-title {
    height: 75px;
    margin: 0;
    line-height: 75px;
    font-size: 26px;
    color: #fff;
    background-color: $gray-darker;
  }

  h2,
  .views-row {
    padding-left: 20px;
    padding-right: 20px;

    @media (max-width: $screen-xs-max) {
      padding-left: 10px !important;
      padding-right: 10px !important;
    }
  }

  .views-row {
    padding: 20px 150px 20px 20px;
    min-height: 170px;

    @media (max-width: $screen-sm-max) {
      padding-right: 190px;
    }

    background-color: $gray-lighter;
    &.views-row-odd {
      background-color: $gray-light;
    }

    a, & {
      h4 {  
        color: $gray;
        text-transform: uppercase;
        margin: 0;
      }

      h3 {
        margin-top: 0;
        font-size: 16px;
        color: $gray-darker;
      }
    }
  }
}