@font-face {
  font-family: "cmqcc";
  src:url("../fonts/cmqcc.eot");
  src:url("../fonts/cmqcc.eot?#iefix") format("embedded-opentype"),
    url("../fonts/cmqcc.woff") format("woff"),
    url("../fonts/cmqcc.ttf") format("truetype"),
    url("../fonts/cmqcc.svg#cmqcc") format("svg");
  font-weight: normal;
  font-style: normal;

}

@mixin cmqcc-icons {
  font-family: "cmqcc" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  @include cmqcc-icons;
}

[data-icon]:before {
  @include cmqcc-icons;
  content: attr(data-icon);
}


.icon-search-find:before {
  content: "a";
}
.icon-facebook-circle:before {
  content: "b";
}
.icon-twitter-circled:before {
  content: "c";
}
.icon-linkedin-circled:before {
  content: "d";
}
.icon-gplus-circled:before {
  content: "e";
}
.icon-email-envelope:before {
  content: "f";
}
.icon-plus:before {
  content: "g";
}
.icon-pdf:before {
  content: "h";
}
.icon-right-dir:before {
  content: "i";
}
.icon-left-dir:before {
  content: "j";
}
.icon-align-justify:before {
  content: "k";
}
.icon-download-1:before {
  content: "l";
}
.icon-link-1:before {
  content: "n";
}
.icon-deleon:before {
  content: "m";
}
.icon-plus-1:before {
  content: "o";
}
.icon-minus:before {
  content: "p";
}
.icon-down-open-big:before {
  content: "q";
}
.icon-up-open-big:before {
  content: "r";
}
.icon-star:before {
  content: "s";
}
.icon-right-open-big:before {
  content: "u";
}
.icon-pinterest-circled:before {
  content: "v";
}
.icon-flickr-circled:before {
  content: "w";
}

a.icon-pdf:before {
  font-size: 26px;
  vertical-align: -8px;
}