aside.sidebar-second {
  .block {
    @include block-style;

    .block-title {
      font-size: 26px;
      font-weight: 700;
      color: $brand-primary;
      margin-top: 0;
    }
  }

  .block.cmdc-secondary {
    padding: 30px 15px 10px 15px;
    background-color: $brand-primary;
    margin-top: 0;

    &:before {
      padding: 0;
      border-top: 0;
    }

    .block-title {
      margin-top: 0;
      font-size: 26px;
      color: #fff;
      font-weight: 700;
    }

    p {
      img {
        vertical-align: bottom;
      }

      .caret-right {
        padding-top: 30px;
        display: inline-block;
      }
    }

    & + .block:before {
      border-top: 0;
    }
  }

  .block.cmdc-video {
    p:first-child {
      font-size: 16px;
    }
  }
}